html {
    box-shadow:
        inset rgba(255, 82, 217, 0.1) 50px 50px 500px 100px,
        inset rgba(91, 219, 68, 0.1) -50px -50px 500px 100px;
    min-height: 100%;
}

body {
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100px;
    font-weight: 900;
}

h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: 900;
}

h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 900;
}

a {
    color: rgb(91, 219, 68);
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

a:hover {
    color: rgb(255, 82, 217);
    transform: scale(1.1);
}

a.button {
    padding: 10px;
    margin-bottom: 10px;
    background: rgb(91, 219, 68);
    color: black;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
    display: inline-block; /* Helps smooth out size/layout changes */
}

a.button:hover {
    background: rgb(255, 82, 217);
    color: white;
    transform: scale(1.1);
}

a.nostyle {
    text-decoration: none;
    color: white;
    border-radius: 0px;
    padding: 0px;
}

.banner {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5px 30px 5px 30px;
    margin-bottom: 30px;
    border-radius: 30px;
}

header {
    position: sticky;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    padding: 20px 20px;
    width: 100%;
    transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

header:hover {
    background: rgba(0, 0, 0, 0.5);
}

.container {
    padding: 20px;       /* Adds breathing room on the left/right/bottom */
    max-width: 1200px;   /* Optional: stops content from getting unnaturally wide on big screens */
    margin: 0 auto;      /* Centers the container on larger displays */
}

.mouseelement {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
         
    pointer-events: none;
}


/* Mobile styles */
@media (pointer:none), (pointer:coarse) {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 20px;
    }
}